 .u-section-1 {
  background-image: none;
  min-height: 821px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 520px);
  height: 209px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 505px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 520px);
  height: 192px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -652px 0 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1155px;
  margin: -109px auto 60px calc(((100% - 1140px) / 2) + -31px);
}

.u-section-1 .u-image-1 {
  min-height: 577px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("/static/images/KID.png");
  background-position: 25.32% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 40px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 577px;
  pointer-events: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
  text-align: left;
  font-size: 3.4375rem;
  font-weight: 600;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 80px 0 20px;
}

.u-section-1 .u-image-2 {
  height: 374px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  line-height: 1.8;
  font-size: 1.125rem;
  width: 743px;
  margin: -219px auto 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 175px auto 0 315px;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 773px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 470px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    height: 304px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -161px;
    margin-right: 33px;
    margin-left: 23px;
    width: 705px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1142px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    order: 1;
    min-height: 360px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 618px;
    order: 0;
  }

  .u-section-1 .u-image-2 {
    height: 233px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -87px;
    margin-right: auto;
    margin-left: auto;
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 870px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 520px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 1651px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 33px;
    padding-right: 33px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 615px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -77px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 568px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 1040px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-2 {
    height: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-2 .u-image-1 {
  width: 258px;
  height: 755px;
  margin: 220px -129px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 206px;
  height: 800px;
  margin: -755px auto 60px -103px;
}